.App-home {
    // background-color: #282c34;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 100%;
  }

  .carousel {
    width:900px;
    height:400px;
    margin: auto;
  }